.top{
text-align: right;
margin-top: 30px;
font-size: 6px;
margin-right: 60px;
padding: 0px;
}
.web{
text-align: center;
margin-top: 150px;
padding: 0px;
}
.foot{
    text-align: center;
    margin-top: 350px;
    font-size: 6px;
    padding: 0px;
}
button{
    background-color: dodgerblue;
    color: white;
    height: 35px;
    padding: 6px 20px;
    border: 1px solid dodgerblue;
    outline: none;
}
input{
    width: 500px;
    height: 30px;
    margin-top: 20px;
    border: gray 1px solid;
    padding-left: 12px;
}
span:hover .item-list{
    display: block;
    padding: 0px;
}
.item-list{
    display: none;
    padding: 0px;
    margin: 0px;
}
input:focus {

        outline:none;
        border: 1px solid dodgerblue;
        
        }

a{
    margin-left: 20px;
    color: gray;
    padding: 0px;
}
a:hover{
    color: blue;
}
span{
    margin-left: 25px;
    background-color: dodgerblue;
    color: aliceblue;
    padding: 5px; 
    width: 50px;
    position: absolute;
    left: 1845px;
    top: 25px;
}

