*{
    margin: 0px;
    padding: 0px;

}
a{
    text-decoration: unset;
    color: #999;
    
}
.clear{
    clear: both;
}
.head-bag{
    background-color: #e3e4e5;
}
.head{
    background-color: #e3e4e5;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    height: 11px;
}
.head_a{
    border: none;
}
.he_a{
    color: red;
}
.line{
    border-left: 1px solid #999;
    height: 8px;
}
.zhedang{
    display: none;
    width: 49px;
    height: 2px; 
    position: relative;
    top: 1px;
    z-index: 3;
}
span:hover .zhedang{
    display: block;
    background-color: white;
}
.body{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 657px;
}
span:hover .item-list{
    display: block;
    padding: 0px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin: 0px;
}
.item-list{
    margin: 0px;
    display: none;
    padding: 0px;
    margin: 0px;
    width: 300px;
    position: absolute;
    left: -1px;
    top:29px;
    z-index: 2;
}
.item-list a{
    margin-right: 30px;
    line-height: 24px;
    padding: 3px 8px;
}
.item-list a:hover{
    background-color: gray;
}
.head-span{
    color: #999;
    width: 49px;
    margin-left: 200px;
    padding-top: 10px;
    display: block;
    position: absolute;
    top: 0px;
   text-align: center;
}
.head-span:hover{
    border: 1px solid #999;
    background-color: white;
}
.zhuce{
    text-align: right;
}
.zhuce a{
    padding-left: 15px;
    padding-right: 15px;
}

a:hover{

    color: red;
}
.search{
    margin-top: 30px;
    margin-left: 250px;
}
input{
    width: 500px;
    height: 30px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.search button{
    height: 34px;
    width: 70px;
    background-color: red;
    border: none;
    outline: none;
    color: white;
}
.shop_car{
    border: 1px solid gray;
    height: 34px;
    width: 140px;
    padding: 7px 50px;
    font-size: 12px;
    margin-left: 30px;
}
.daohang{
    margin-left: 200px;
    margin-top: 30px;
}
.daohang a{
    margin-left: 20px;
}
.body_left{
    float: left;
    margin-top: 20px;
    font-size: 14px;
    height: 482px;
    line-height: 30px;
    width: 190px;
}
.body_left hr{
    margin-bottom: 20px;
}
.body_mid{
   float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.body_right{
    float: left;
    text-align: center;
    margin-left: 30px;
    font-size: 6px;
    line-height: 25px;
    width: 200px;
    position: relative;
    top: 20px;
    height: 482px;
}
.body_right p{
    text-align: left;
}
.jiaofei{
  margin-bottom: 5px;
  color: lightgoldenrodyellow;
}
.jiaofei a{
    color: lightgoldenrodyellow;
}
.jiaofei a:hover{
    color: red;
}
li{
    list-style-type:none;
    width: 189px;
    margin-left: 5px;
    
}
.search a{
    font-size: 6px;
}
.ser_a{
    color: red;
}
.body_mid img{
    width: 730px;
    height: 482px;
 }
 
 .body_right img{
    border-radius:50px;
 }
 .body_right div{
     float: left;
     width: 40px;
     height: 40px;
    text-align: center;
    padding: 5px;
 }
 .body_right button{
    border-radius:20px;
    width: 100px;
    height: 34px;
    outline: none;
    border: none;
 }
 .button1{
     color: red;
    background-color: white;
 }
 .button2{
     color: white;
     background-color: black;
 }
 .body_right button:hover{
     background-color: red;
     color: white;
 }
 .tupian{
     width: 1200px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
 }
 .tupian div{
     width: 380px;
     float: left;
 }
.tupian1 img{
    width: 400px;
}
.tupian2 img{
    width: 187px;
    height: 157px;
}

.tupian2{
  margin-left: 30px;
}
.tupian3 img{
    width: 400px;
   margin-left: 10px;
}
.miaosha{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.miaosha div{
    float: left; 
}
.miaosha-time{
    width: 190px;
    height: 180px;
    text-align: center;
    background-color: red;
    color: white;
}
.miaosha-thing{
    height: 180px;
    width: 780px;
}
.miaosha-last img{
    width: 229px;
    height: 180px;
}
.miaosha-thing img{
    width: 190px;
    height: 180px;
}
.logo{
    float: left;
    position: absolute;
    top: 0px;
    border-bottom: 1px solid gray;
}
.logo img{
    height: 190px;
    width: 190px;
}
.hr-line{
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
