
.a{
    width: 200px;
    height: 200px;
    background: black;
    margin-top: 10px;
    position: relative;
}
.b{
    width: 200px;
    height: 200px;
    background: red;
    margin-top: 10px;
    position: relative;
}
.c{
    width: 200px;
    height: 200px;
    background: blue;
    margin-top: 10px;
    position: relative;
}
.d{
    width: 200px;
    height: 200px;
    background: gold;
    margin-top: 10px;
    position: relative;
}